{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block body %}

    <h1>Bienvenue sur mon blog</h1>


    <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
        Testing show() method from BlogController with a real article s slug.
    </a>
    <br>
    <a href="{{ path('blog_index') }}">
        Testing index() method from BlogController to view all articles.
    </a>
    <br>
    <a href="{{ path('show_category', {'name': "javascript"}) }}">
        Testing showByCategory() method from BlogController to view all articles.
    </a>
    <br>
    <a href="{{ path('tag_show', {'name': "development"}) }}">
        Testing showTag() method from BlogController to view all tags.
    </a>
    <br>
    <a href="{{ path('category_index') }}">
        To add a new Category
    </a>

{% endblock %}